@model PassionProject.Models.CafeDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this cafe?</h2>
<a href="/Cafe/List">Cancel</a>
<h2>@Model.CafeName</h2>
<form action="/Cafe/Delete/@Model.CafeId" method="POST">
    <input type="submit" value="Confirm Delete" />

</form>

