@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="margin-top:1em;">Cafe Catalog</h1>
    <p class="lead">Cafe Catalog is a free service which allows Toronto locals to explore and discover cafes and coffee roasters in their area.</p>
    <p><a href="/Cafe/List" style="background-color:black;" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>
